<div class="container">
          <div class="row">
            {{#each imageArray}}
               <div class="col-md-6">
                  <div class="thumbnail">
                  <img src="/images/{{../hotel}}/{{../hotel}}-{{this}}.jpg"/>
                  </div>
               </div>
            {{/each}}
          </div>
</div>
